<div class="mt-5">
    <h1 class="d-flex flex-row fw-bold justify-content-center pt-4">Edit Officer Details</h1>
    <div class="border border-sm rounded m-5 p-5">
        <div class="d-flex flex-column justify-content-center px-5 mx-5">
            <%= render 'form', officer: @officer %>
        </div>
    <div>
</div>